<div *ngIf="isLoading">
    Loading&hellip;
</div>

<div *ngIf="error">
    Something went wrong!
</div>

<article *ngIf="blog" class="post">
    <header>
        <h2>{{ blog.id }}\ {{ blog?.title }}</h2>
    </header>
    <section class="article__content">
        {{ blog?.text }}
        <p class="author"> {{ blog?.name }}</p>
    </section>
    <footer>
        <a [routerLink]="['/blog']" routerLinkActive="active" class="btn btn-1 btn-1e">Return</a>
    </footer>
</article>

<section *ngIf="comments" class="comment">
    <h2>Comments:</h2>
    <main>
        <div *ngFor="let comment of comments">
            <div *ngIf="comment.postId == blog.id">
                <p>{{ comment.body }}</p>
                <p>
                    <span>{{ comment.name }}</span>
                    <span>{{ comment.date }}</span>
                </p>
            </div>
        </div>
        </main>

<my-comment [blogId]="blog.id"></my-comment>
    </section>